@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
  html,
  body,
  #root {
    height: 100%;
  }
}

@layer components {
  .card {
    @apply rounded-2xl bg-white/70 dark:bg-neutral-900/70 backdrop-blur border border-black/5 dark:border-white/5 shadow-sm;
  }
}
